h1=apiInfo.name 
  - var authed =''

- if (apiInfo.deprecated)
    h2 Deprecated Version

form#credentials
    input(type='hidden', name='apiName', value=apiName)
    - if (apiInfo.auth) 
        section(class='credentials ' + authed)
            h2 API Credentials
            img(src='images/key.png')

            - if (apiInfo.auth.defaultKey)
                - var defaultKey =apiInfo.auth.defaultKey
            - else
                - var defaultKey =''

            - if (apiInfo.auth.defaultSecret)
                - var defaultSecret =apiInfo.auth.defaultSecret
            - else
            - var defaultSecret =''
            div
                label(for='key') Your Secret or Access Code
                input(id='key', name='key', value=defaultKey, style='color=#EEEEEE')

div(id='controls')
    ul
        li
            a#toggle-endpoints(href='#') Toggle All Endpoints
        li
            a#toggle-methods(href='#') Toggle All Methods

ul
    - each endpoint in apiDefinition.endpoints
        li.endpoint
            h3.title
                span.name=endpoint.name
                ul.actions
                    li.list-methods
                        a(href='#') List Methods
                    li.expand-methods
                        a(href='#') Expand Methods
            - if (endpoint.methods.length)
            ul.methods.hidden
                - each method in endpoint.methods
                    - var httpmethod =method.HTTPMethod.toLowerCase()
                    li(class='method ' + httpmethod, id=method.Anchor)
                        div.title
                            span.http-method #{method.HTTPMethod}
                            span.name #{method.MethodName}
                            span.uri #{method.URI}
                        form.hidden
                            input(type='hidden', name='httpMethod', value=method.HTTPMethod)
                            input(type='hidden', name='methodUri', value=method.URI)
                            - if (method.hiddenParameters && method.hiddenParameters.length > 0)
                                - each hiddenParam in method.hiddenParameters
                                    input(type='hidden', name='params[' + hiddenParam.name +']', value=hiddenParam.value)
                            - if (method.updateParam)
                                input(type='hidden', name='updateParam', value=method.updateParam)

                            span.description #{method.Synopsis}
                            br
                            br
                            - if (method.headers && method.headers.length > 0)
                                div.headers
                                    h4.title
                                        div.indicator
                                        span Headers
                                    div.fields
                                        table
                                            colgroup
                                                col(class='name')
                                                col(class='value')
                                                col(class='remove')
                                            thead
                                                tr
                                                    th Name
                                                    th(colspan='2') Value
                                            tbody
                                                -each header in method.headers
                                                    tr
                                                        td
                                                            //- [] is used on the end because it should always
                                                            //- be processed as an array, even single values
                                                            input(name='headerNames[]', value='#{header.name}')
                                                        td
                                                            input(name='headerValues[]', value='#{header.value}')
                                                        td
                                                            - if (header.remove && header.remove == true)
                                                                //- not implemented yet
                                                                a(href='#', class='remove') Remove
                                        - if (method.addHeaders && method.addHeaders == true)
                                            //- not implemented yet
                                            a(href='#', class='add-headers') Add Header
                                    // Create header fields and button to add/remove headers.
                            
                            - if (method.parameters.length > 0)
                                table.parameters
                                    thead
                                        tr
                                            th Parameter
                                            th Value
                                            th Type
                                            th Description
                                    tbody
                                        - var paramCount =0
                                        - each parameter in method.parameters
                                            //- TODO: These div's around the tr's don't seem to be used
                                            - paramCount++
                                            div(id='param' + paramCount)
                                              - if (parameter.Required =='Y')
                                                  - var required =true
                                                  - var className ='required'
                                              - else
                                                  - var required =false
                                                  - var className =''
                                              tr(class=className)
                                                  td.name=parameter.Name
                                                  td.parameter
                                                      - if (parameter.Type =='enumerated')
                                                          select(name='params[' + parameter.Name + ']', placeholder=className)
                                                            - if (parameter.Default =='')
                                                                option(value='') 
                                                            - each choice in parameter.EnumeratedList
                                                                - if (parameter.Default ==choice)
                                                                        option(value=choice, selected=true) #{choice}
                                                                - else
                                                                        option(value=choice) #{choice}
                                                      - else if (parameter.Type =='boolean')
                                                           select(name='params[' + parameter.Name + ']', placeholder=className)
                                                                - if (parameter.Default =='')
                                                                        option(value='') 
                                                                - each choice in [apiInfo.booleanTrueVal,apiInfo.booleanFalseVal]
                                                                   - if (parameter.Default ==choice)
                                                                           option(value=choice, selected=true) #{choice}
                                                                   - else
                                                                           option(value=choice) #{choice}
                                                      - else
                                                          - if (parameter.updateParamId)
                                                              input(name='params[' + parameter.Name + ']', value=parameter.Default, placeholder=className, id='#{parameter.updateParamId}')
                                                          - else
                                                              input(name='params[' + parameter.Name + ']', value=parameter.Default, placeholder=className)
                                                  td.type=parameter.Type
                                                  td.description
                                                      p=parameter.Description || 'No description'
                                                      - if (parameter.Type =='enumerated' && parameter.EnumeratedDescription)
                                                          dl.clearfix
                                                              - each choice in parameter.EnumeratedDescription
                                                                  dt #{choice.value}
                                                                  dd #{choice.description}
                            
                            - if (method.bodyId)
                                p(style='padding-bottom: 5px;') Request Body
                                    <img src="images/arrow_up.gif" alt="Contract" title="Contract" style="vertical-align: text-top;" onclick="MASAS.contract_body_input('#{method.bodyId}');">
                                    <img src="images/arrow_down.gif" alt="Expand" title="Expand" style="vertical-align: text-bottom;" onclick="MASAS.expand_body_input('#{method.bodyId}');">
                                    - if (method.bodyLoad)
                                        <span class="loadSample" onclick="#{method.bodyLoad}('#{method.bodyId}');"> Load Sample Data </span>
                                div.postBodyInput
                                    - if (method.bodyDefault)
                                        textarea(name='body', id='#{method.bodyId}') #{method.bodyDefault}
                                    - else
                                        textarea(name='body', id='#{method.bodyId}')
                                - if (method.bodySynopsis)
                                    div.postBodySynopsis
                                        p #{method.bodySynopsis}
                                div.clearfix
                            
                            - if (!method['read-only'])
                                    input(type='submit', id=method.MethodName, value='Try it!')
