!!! 5
html
    head
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Live Documentation'
        title=title
        link(rel='stylesheet', href='stylesheets/prettify.css')
        link(rel='stylesheet', href='stylesheets/style.css')

    body
        - if (apiInfo.name)
            div(id='io-header') API Explorer <a href=".">HOME</a>
        !{body}
        div(id='io-footer')
           div(class='f-left') &copy;  
              a(href='http://www.masas-sics.ca') MASAS NIT
              &nbsp; &nbsp; &nbsp; Sponsored by Defence R &amp; D Canada - Centre for Security Science
              &nbsp;| Natural Resources Canada | Public Safety Canada
           div(class='f-right') Powered by 
              a(href='https://github.com/mashery/iodocs') I/O Docs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
        script(src='javascripts/jquery.blockUI.js')
        script(src='javascripts/json2.js')
        script(src='javascripts/prettify.js')
        script(src='javascripts/utilities.js')
        script(src='javascripts/livedocs.js')
        script(src='javascripts/docs.js')
        script(src='javascripts/masas.js')
