h1=title

h2 Choose an API:

ul(class='apiList')
    - for (var api in apiInfo)
        - if (!apiInfo[api].deprecated)
            li: a(href = api) #{apiInfo[api].name}

div(class='deprecatedTitle') Deprecated

ul(class='deprecatedApiList')
    - for (var api in apiInfo)
        - if (apiInfo[api].deprecated)
            li: a(href = api) #{apiInfo[api].name}
